__pycache__/
*.py[cod]
*$py.class
*.backup
*.asc
*.bak
.venv/
.hindtrc
cache/
db/

# experimental only - temporarily ignored as no functionality is currently implemented
static/js/video.js
static/css/video.css
