Quart<1
bcrypt<6
zipstream-new<2
Werkzeug<4
watchdog<7
hypercorn[h3]<1
cryptography<51
mammoth<2
openpyxl<4
python-pptx<2
rarfile<5
pyzipper<1
py7zr<2
pyvips<4
wsgidav<5
asgiref<4
paramiko<6
pyftpdlib<3
psutil<8
pynacl<2
pyppmd<2
impacket<1
pyOpenSSL