Flask<4
flask-cors<7
bcrypt<6
zipstream-new<2
Werkzeug<4
watchdog<7
waitress<4
cryptography<50
mammoth<2
openpyxl<4
python-pptx<2
rarfile<5
pyzipper<1
py7zr<2
pyvips<4
wsgidav<5
paramiko<6
pyftpdlib<3
cheroot<12
psutil<8
pynacl<2
